<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" version="3.4.2" defaultlocale="en" id="https://addons.opera.com/extensions/details/translate-4/" href="https://addons.opera.com/extensions/details/translate-4/">
  <name xml:lang="en">Translate</name>
  <name xml:lang="ar">ترجم</name>
  <name xml:lang="az">Tərcümə</name>
  <name xml:lang="be">Перавесці</name>
  <name xml:lang="bg">Превод</name>
  <name xml:lang="bn">অনুবাদ</name>
  <name xml:lang="ca">Traduir</name>
  <name xml:lang="cs">Přeložit</name>
  <name xml:lang="da">Oversæt</name>
  <name xml:lang="de">Übersetzen</name>
  <name xml:lang="el">Μετάφραση</name>
  <name xml:lang="es">Traducir</name>
  <!--<name xml:lang="es-419">Traducir</name>-->
  <name xml:lang="et">Tõlgi</name>
  <name xml:lang="fi">Käännä</name>
  <name xml:lang="tl">Pagsasalin</name>
  <name xml:lang="fr">Traduire</name>
  <name xml:lang="gu">અનુવાદ</name>
  <name xml:lang="hi">अनुवाद</name>
  <name xml:lang="hr">Prijevod</name>
  <name xml:lang="hu">Fordítás</name>
  <name xml:lang="hy">թարգմանել</name>
  <name xml:lang="id">Menerjemahkan</name>
  <name xml:lang="is">Þýða</name>
  <name xml:lang="it">Traduci</name>
  <!--<name xml:lang="iw">תרגום</name>-->
  <name xml:lang="ja">翻訳</name>
  <name xml:lang="ka">თარგმნა</name>
  <name xml:lang="ko">번역</name>
  <name xml:lang="lt">Versti</name>
  <name xml:lang="lv">Tulkot</name>
  <name xml:lang="mk">Преведете</name>
  <name xml:lang="ms">Menterjemahkan</name>
  <name xml:lang="nl">Vertalen</name>
  <name xml:lang="no">Oversette</name>
  <name xml:lang="pl">Tłumaczenie</name>
  <name xml:lang="pt-BR">Traduzir</name>
  <name xml:lang="pt-PT">Traduzir</name>
  <name xml:lang="ro">Traduceți</name>
  <name xml:lang="ru">Перевести</name>
  <name xml:lang="sk">Preložiť</name>
  <name xml:lang="sl">Prevajalnik</name>
  <name xml:lang="sq">Përkthim</name>
  <name xml:lang="sr">Преведи</name>
  <name xml:lang="sv">Översätt</name>
  <name xml:lang="ta">மொழிபெயர்க்க</name>
  <name xml:lang="te">అనువాదం</name>
  <name xml:lang="th">การแปล</name>
  <name xml:lang="tr">Çevir</name>
  <name xml:lang="uk">Перекласти</name>
  <name xml:lang="ur">ترجمہ کریں</name>
  <name xml:lang="vi">Dịch</name>
  <!--<name xml:lang="yi">זעץ</name>-->
  <name xml:lang="zh-CN">翻译</name>
  <name xml:lang="zh-TW">翻譯</name>
  <!--<description xml:lang="es-419">Agregue la funcionalidad de traducción de idiomas a cualquier página web.</description>-->
  <!--<description xml:lang="iw">הוסף פונקציונלי תרגום לשפה לכל דף אינטרנט.</description>-->
  <!--<description xml:lang="yi">לייג שפּראַך איבערזעצונג פאַנגקשאַנאַליטי צו קיין וועב בלאַט.</description>-->
  <icon src="icons/64x64.png"/>
  <author href="http://twitter.com/richtibbett">Rich Tibbett</author>
  <update-description href="https://extension-updates.opera.com/api/w3c-wd1/update/f947e6ba-a59a-491b-95b6-57b357d8adba/"/>
  <description xml:lang="da">Tilføj sprog oversættelse funktionalitet til enhver webside.</description>
  <description xml:lang="pt-BR">Adicione a funcionalidade de tradução de idiomas para qualquer página web.</description>
  <description xml:lang="de">Sprache hinzufügen Übersetzungs-Funktionalität zu einem beliebigen Web-Seite.</description>
  <description xml:lang="pt-PT">Adicione a funcionalidade de tradução de idiomas para qualquer página web.</description>
  <description xml:lang="el">Προσθήκη γλώσσα λειτουργικότητα μετάφραση σε οποιαδήποτε ιστοσελίδα.</description>
  <description xml:lang="ro">Adauga traducere funcționalitate limba la orice pagină web.</description>
  <description xml:lang="es">Agregue la funcionalidad de traducción de idiomas a cualquier página web.</description>
  <description xml:lang="ru">Добавить функциональности языка перевода на любой веб-странице.</description>
  <description xml:lang="et">Lisa tõlkimine funktsionaalsust tahes veebilehel.</description>
  <description xml:lang="sk">Pridať jazyk preklade funkcie na ľubovoľnú webovú stránku.</description>
  <description xml:lang="fi">Lisää käännös toiminnallisuus tahansa sivulta.</description>
  <description xml:lang="sl">Dodajte funkcije jezika prevajanja na katerokoli spletno stran.</description>
  <description xml:lang="tl">Magdagdag ng wika pagsasalin-andar sa anumang web page.</description>
  <description xml:lang="sq">Shton funksionalitetin përkthim gjuhës për ndonjë web faqe.</description>
  <description xml:lang="fr">Ajouter une fonctionnalité de traduction de langue à n'importe quelle page Web.</description>
  <description xml:lang="sr">Додајте функционалност језик превод на било којој страници.</description>
  <description xml:lang="gu">કોઈપણ વેબ પૃષ્ઠ પર ભાષા અનુવાદ વિધેય ઉમેરો.</description>
  <description xml:lang="sv">Lägga till funktioner språköversättning till en webbsida.</description>
  <description xml:lang="hi">किसी भी वेब पेज के लिए भाषा अनुवाद कार्यक्षमता जोड़ें.</description>
  <description xml:lang="ta">எந்த இணைய பக்கம் மொழியை மொழிபெயர்ப்பு செயல்பாடு சேர்க்க.</description>
  <description xml:lang="hr">Dodaj funkcionalnost jezik za prijevod na bilo koju web stranicu.</description>
  <description xml:lang="te">ఏదైనా వెబ్ పేజీకి భాష అనువాదం కార్యాచరణ జోడించండి.</description>
  <description xml:lang="hu">Kedvencek fordítása alkalmassága bármely weboldalra.</description>
  <description xml:lang="th">เพิ่มฟังก์ชันการทำงานแปลภาษาถึงหน้าเว็บใด ๆ</description>
  <description xml:lang="hy">Ավելացնում լեզուն թարգմանություն ֆունկցիոնալությունը ցանկացած վեբ էջը</description>
  <description xml:lang="tr">Herhangi bir web sayfası dil çevirisi işlevsellik ekleyin.</description>
  <description xml:lang="id">Menambahkan fungsi terjemahan bahasa untuk setiap halaman web.</description>
  <description xml:lang="uk">Додати функціональності мови перекладу на будь-який веб-сторінці.</description>
  <description xml:lang="is">Bæta túlkaþjónustu virkni til hvaða vefsíðu.</description>
  <description xml:lang="ur">زبان ترجمہ کی فعالیت کو کسی بھی ویب کے صفحے پر شامل کریں.</description>
  <description xml:lang="it">Aggiungi funzionalità di traduzione lingua a qualsiasi pagina web.</description>
  <description xml:lang="vi">Thêm chức năng dịch thuật cho bất kỳ trang web.</description>
  <description xml:lang="ja">任意のページに言語翻訳機能を追加します。</description>
  <description xml:lang="zh-CN">语言翻译功能添加到任何网页</description>
  <description xml:lang="ka">სანიშნეს ენის თარგმანი ფუნქციებს ნებისმიერ ვებ გვერდზე.</description>
  <description xml:lang="zh-TW">語言翻譯功能添加到任何網頁</description>
  <description xml:lang="en">This extension adds language translation functionality to any web page.</description>
  <description xml:lang="ko">웹 페이지에 언어 번역 기능을 추가 할 수 있습니다.</description>
  <description xml:lang="ar">إضافة الترجمة إلى اللغة وظيفة أي صفحة ويب.</description>
  <description xml:lang="lt">Kalbos vertimo funkcijos įtraukimas į bet kurį tinklalapį.</description>
  <description xml:lang="az">Hər hansı bir web page tərcümə funksionallıq əlavə edin.</description>
  <description xml:lang="lv">Pievieno valodas tulkošanas funkcionalitāti, lai jebkurā tīmekļa lapā.</description>
  <description xml:lang="be">Дадаць функцыянальнасці мовы перакладу на любы вэб-старонцы.</description>
  <description xml:lang="mk">Додади превод функционалност на било кој веб-страница.</description>
  <description xml:lang="bg">Добави функционалност превод на всяка уеб страница.</description>
  <description xml:lang="ms">Tambah fungsi bahasa terjemahan kepada mana-mana laman web.</description>
  <description xml:lang="bn">যেকোন ওয়েব পাতা যাও ভাষা অনুবাদ কার্যকারিতা যোগ করুন.</description>
  <description xml:lang="nl">Voeg vertalingen functionaliteit aan een webpagina.</description>
  <description xml:lang="ca">Afegiu la funcionalitat de traducció d'idiomes a qualsevol pàgina web.</description>
  <description xml:lang="no">Legg til språk oversettelse funksjonalitet til en nettside.</description>
  <description xml:lang="cs">Přidat jazyk překladu funkce na libovolnou webovou stránku.</description>
  <description xml:lang="pl">Dodaj funkcję tłumaczenia na dowolnej stronie internetowej.</description>
</widget>
